.footer{
    display flex;
    justify-content center;
    align-items flex-start;
    width 100%;
    height 8.82rem;
    background-color #188AD8;
    .footerMain{
        margin-top 1.94rem;
    }
    .footerLeft{
        margin-right 1.34rem;
        .logo{
            width 4.2rem;
            height 0.78rem;
        }
        .leftItem{
            margin-top 0.5rem;
            margin-left 0.84rem;
            span{
                font-size 0.32rem;
                color #fff;
                margin-left .1rem;
            }
        }
    }
    .footerMiddle{
        width 12.3rem;
        line-height 35px;
        font-size 0.32rem;
        color #fff;
        .searchLabel{
            margin-top 1.22rem;
            font-size 0.4rem;
        }
        .searchInput{
            display flex;
            justify-content space-between;
            align-items center;
            margin-top 0.14rem;
            width 8.02rem;
            height 0.8rem;
            background-color #DAF0FB;
            input{
                font-size 0.32rem;
                background-color #DAF0FB;
                margin-left 0.4rem;
            }
            img{
                cursor pointer; 
                width 0.36rem;
                height 0.36rem;
                margin-right 0.4rem;
            }
        }
    }
}